* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.padded { padding: 5%; }
.padded-1 { padding: 1rem; }

header,
footer {
    background-color: lightblue;
    padding: 5%;
}

section {
    padding: 5%;
}

.card {
    padding: 1rem;
    border: 2px solid;
    border-radius: 1rem;
    max-width: 20%;
    display: inline-block;
}

.intro {
    text-transform: uppercase;
    background: rgb(200,200,200);
}


.tag {
    border: 1px solid;
    padding: 0.5rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 3px;
}

/* Background Image Styles */

.bg-image{
    background-size: cover;
    background-position: center;
}

.square { padding-bottom: 100%; }
.landscape { padding-bottom: 63%; }